# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env*.local
app/.env
app/.env*.local

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Temporary files
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Build outputs
build/
ios/
android/

# Local Netlify folder
.netlify

# Google Cloud SDK (local install)
functions/google-cloud-sdk/
functions/google-cloud-cli-*.tar.gz
